/*We need to pick a font for website, maybe a google font?*/
/*Body nog centreren ook (zie pagina op fullscreen)*/
.bodyColor {
	background-color: #ffefcc;
}


.bodyReplacement{
	width: 414px;
	font-family: Arial;
	font-size: 14px;
	display: table-cell;
	vertical-align: middle;
	z-index: 0;
}

.bodyReplacement {
	display: table;
	margin: auto;
}

h1 {
	padding-top: 80px;
	padding-bottom: 40px;
	color: #4d3300;
}

/*Front page*/

#frontpage {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vh;
 }

#frontpage:before {
	content: ' ';
    position: absolute;
    opacity: 1;
    background-image: url("../images/coffeefrontpage.jpg");
    -webkit-transition: opacity 5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 5s;
    min-height: 100%;
    min-width: 100%;
}

.editor:before {
	opacity: 0.6!important;
}

#leafIconFrontPage{
	font-size: 150px;
	 z-index: 10;
	 color: #4d3300;
	 text-align: center;
}

#leafIconFrontPage1{
	font-size: 150px;
	 z-index: 10;
	 color: #4d3300;
	 text-align: center;
}

#leafIconFrontPage2{
	font-size: 150px;
	 z-index: 10;
	 color: #4d3300;
}

.texttocenter{
	text-align: center;
	margin-top: 55%;
	 z-index: 2;
}

.fontfrontpage {
	color: white;
	text-align: center;
	margin-top: -60px;
	 z-index: 2;
}

#leafIconFrontPage {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
#leafIconFrontPage:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#leafIconFrontPage1 {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
#leafIconFrontPage1:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#leafIconFrontPage2 {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
#leafIconFrontPage2:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#frontpagetext1 {
text-align: center;
	 border: solid 2px #4D3300;
	 background-color: #fff7e6;
	 border-radius: 50%;
	 padding: 30px 10px 25px 10px;
}

#frontpagetext2 {
text-align: center;
	 border: solid 2px #4D3300;
	 background-color: #fff7e6;
	 border-radius: 50%;
	 padding: 30px 10px 25px 10px;
	 background: transparent;
	background-color: #fff7e6;
}



#frontpagetext3 {
text-align: center;
	 border: solid 2px #4D3300;
	 background-color: #fff7e6;
	 border-radius: 50%;
	 padding: 35px 15px 35px 15px;
}

footer{
	position: relative;
	background-size: contain;
	background-color: #ffefcc;

}

.footerImage{
	z-index: -10;
	width: 100%;
}

.footerText {
	position: absolute;
	padding-top: 50;
	bottom: 50%;
	margin: 0 auto;
  left: 0;
  right: 0;
}

.footerText p { 
    text-align: center;
    padding-top: 10%;
}

.social {
	padding: 1px;
}

@media screen and (min-width: 800px) { 
	.social {
		/*om de grootte van de social icons aan te passen.*/
	}
}

#bottomPage {
	color: white;
	position:fixed;
    bottom: 0;
}

/*#footerDiv{
	height: 500px;
	background-image: url("./images/coffeefooter.png");
	}*/

	.container{
		background-color: #fff7e6;
		height: 100%;
	}



	/*Navbar*/
	#cartIcon {
		color: white;
		font-size: 30px;
		padding-top: 6px; /*Misschien beter om met verticaal alignen te doen?*/
		padding-right: 50px;
		padding-left: 15px; /*(zelfde als de buttons)*/
	}

	.navbar-inverse {
		background-color: #4d3300;
	}

	/* link */
	.navbar-inverse .navbar-nav > li > a {
		color: #fff7e6;
	}
	.navbar-inverse .navbar-nav > li > a:hover,
	.navbar-inverse .navbar-nav > li > a:focus {
		color: #ffefcc;
	}
	.navbar-inverse .navbar-nav > .active > a, 
	.navbar-inverse .navbar-nav > .active > a:hover, 
	.navbar-inverse .navbar-nav > .active > a:focus {
		color: #fff7e6;
		background-color: #4d3400;
	}
	.navbar-inverse .navbar-nav > .open > a, 
	.navbar-inverse .navbar-nav > .open > a:hover, 
	.navbar-inverse .navbar-nav > .open > a:focus {
		color: #555;
		background-color: #4d3400;
	}

	#logo {
		height: 50px;
		margin-top: -14px;
		margin-left: -15px;
	}

	.navText {
		font-size: 18px; 
	}

	#compName {
		color: ;
	}

	/* Google Maps on contact page */

	#map {
		width: 100%;
		height: 200px;
		background-color: grey;
	}


	/*How to reach us on the contact page*/
	.contact-info li {
		list-style: none;
		padding: 0;
		margin: 0 0 0 20px;
		font-size: 1.2em
	}

	#phoneicon {
		width: 20px;
		height: 20px;

	}

#imgTeam {
	width: 100%;
	height: 100%;
}



/*
Contact form ccs
*/

#after_submit, #email_validation, #name_validation {
	display:none;
}

#after_submit{
	background-color: #c0ffc0;
	line-height: 31px;
	margin-bottom: 10px;
	padding-left: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

label, #after_submit{
	color: #6c6c6c;
}

input{
	line-height: 31px;
}

input, textarea{
	width: 288px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: rgba(255,255,255,.6);
	border: solid 1px #b6c7cb;
}

#contact_form{
	height: 325px;
	background-color: #cee8ef;
	border: solid 1px #e5e5e5;
	padding: 10px 20px 50px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#submit_button{
	width: 109px;
	height: 34px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #86c5fa;
	-webkit-box-shadow: inset 0 2px rgba(255,255,255,.29);
	-moz-box-shadow: inset 0 2px rgba(255,255,255,.29);
	box-shadow: inset 0 2px rgba(255,255,255,.29);
	border: solid 1px #77a4cb;
	font-weight: bold;
	color: #fff;
	margin-left: 7px;
	margin-top: 6px;

}

#containercontactform {
	padding-bottom: 50px;

}

label.required:after {
	content:'*';
	color:red;
}

.error {
	background-color:#FFDFDF;
	color:red;
}
.error_message{
	font-style: italic;
	font-size: 10px;
}
.row {
	margin:5px;
}

/*Philosophy*/
#philosophypage {
	padding-bottom: 30px;
}

.vertical .carousel-inner {
	height: 100%;
}

.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
	top: 0;
}

.carousel.vertical .next {
	top: 100%;
}

.carousel.vertical .prev {
	top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
	top: 0;
}

.carousel.vertical .active.left {
	top: -100%;
}

.carousel.vertical .active.right {
	top: 100%;
}

.carousel.vertical .item {
	left: 0;
	}​

	.carouselImage {
		width: 100%;
	}

	#myCarousel {
		max-width: 1000px;
		position: relative;
		margin: auto;
	}

	.arrow {
		position: absolute;
		top: 50%;
		bottom: 50%;
		font-size: 40px;
	}

	.leafIcon:hover {
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		perspective: 1000px;
	}

	@keyframes shake {
		10%, 90% {
			transform: translate3d(-1px, 0, 0);
		}

		20%, 80% {
			transform: translate3d(2px, 0, 0);
		}

		30%, 50%, 70% {
			transform: translate3d(-4px, 0, 0);
		}

		40%, 60% {
			transform: translate3d(4px, 0, 0);
		}
	}

.carousel-caption {
	color: #fff7e6;
	text-shadow: -1px 0 #4D3300, 0 1px #4D3300, 1px 0 #4D3300, 0 -1px #4D3300;
}

.carousel-caption h3 {
	font-size: 35px;
}

.carousel-caption p {
	font-size: 22px;
}

/*Webshop*/
.webshopItem {
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
}

.card-img-top {
	width: 60%
}

.card-img-top {
	border: solid 2px #4D3300
}

.makeGrey {
	color: grey;
}

.btn {
	background-color: #4D3300;
	border: solid 1px black;
}

